*{
    margin: 0%;
    padding: 0%;
}
.parent{
    width: 80%;
    height: 400px;
    background-color: aqua;
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
   /* justify-content: center;
   align-items: end; */
}
.child{
   height: 100px;
   width: 100px;
   background-color: green;
   color: white;
}
.navbar{
    display: flex;
    background-color:white;
    border: 1px solid #ddd;
    padding: 10px;
    
}
.navbar button{
   border: none;
   background-color: white;
}
.navbar div:nth-child(1){
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar div:nth-child(2){
    width: 60%;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 2%;
}
.navbar div:nth-child(3){
    width: 20%;
      display: flex;
    justify-content: center;
    align-items: center;
}
.navbar div:nth-child(3) button{
     background-color: #4958be;
     padding: 6px 10px;
     width: 40%;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 16px;
}